[Desktop Entry]
Name=SchoolWatchURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/schoolwatch;
TryExec=schoolwatch
Exec=schoolwatch %u
Icon=schoolwatch
Terminal=false
Type=Application
StartupNotify=false
