[Unit]
Description=SchoolWatch
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/schoolwatch --service
# kill --tray and --server both
ExecStop=pkill -f "schoolwatch --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "schoolwatch --tray"
#ExecStop=pkill -f "schoolwatch --server"
PIDFile=/run/schoolwatch.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
